@import 'tag.css';
@import 'sort.css';
@import 'recipe.css';

.recipes__list{
  margin-top: 25px;
  display: flex;
}

.recipes__item{
  width: 380px;
  height: 364px;
  background-color: #E7E7E7;
  border-radius: 5px;
  overflow: hidden;
}
