.recipe__card{
  width: 380px;
  height: 364px;
  background-color: #E7E7E7;
  border-radius: 5px;
  overflow: hidden;
  z-index: -10;
}

.recipe__pictureContainer{
  height: 178px;
  background-color: #C7BEBE;
}

.recipe__titleContainer{
  padding: 20px 18px 15px 20px;
}

.recipe__content, .recipe__detailsContainer{
  display: flex;
  justify-content: space-between;
}

.recipe__content{
  font-size: 18px;
  margin-bottom: 20px;
}

.recipe__time{
  display: flex;
}

.recipe__duration{
  margin-left: 7px;
  font-weight:700;
}

.recipe__detailsContainer{
  font-size: 12px;
}

.recipe__ingredientsList{
  min-width: 171px;
  width: max-content;
}

.recipe__ingredientsItem{
  display: flex;
}

.recipe__ingredient{
  font-weight: 700;
}

.recipe__process{
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
}




